button{
    background-color:#5f80c5;
    border:1px solid #5f80c5;
    border-radius:2px;
    cursor:pointer;
    color:#fff;
    padding:10px 15px;
    margin:0px;
    font-size:18px
}
button:hover{
    background-color:#3f5fa1
}
button.secondary{
    background-color:#fff;
    color:#5f80c5
}
button.secondary:hover{
    background-color:#ecf2ff
}
button.danger{
    background-color:#fa5151;
    border:1px solid #de0606
}
button.danger:hover{
    background-color:#de0606
}
form label{
    color:#666;
    display:block;
    font-weight:bold;
    font-size:14px;
    margin-bottom:5px
}
form input{
    border:1px solid #979797;
    margin-bottom:15px;
    color:#444;
    padding:7px;
    border-radius:2px;
    width:100%;
    box-sizing:border-box
}
form input:focus{
    border-color:#5f80c5;
    outline:none
}
#header-container{
    padding:20px;
    border-bottom:1px solid #f2f2f2;
    display:flex;
    align-items:center;
    justify-content:center
}
.screen{
    min-width:460px
}
.screen>.content-wrapper{
    margin-bottom:20px;
    padding:25px 50px
}
.screen-heading{
    margin-top:0
}
.additional-actions-container{
    padding:25px;
    text-align:center
}
.footer-container{
    padding:25px;
    border-top:1px solid #f2f2f2;
    text-align:center
}
.alternative-credentials{
    display:block;
    font-weight:bold;
    margin-bottom:15px
}
.cancel-link{
    display:block;
    margin-bottom:10px
}
.traditional-signin{
    position:relative
}
.forgot-password-link{
    position:absolute;
    right:8px;
    bottom:0
}
.lang-rtl .forgot-password-link{
    right:unset;
    left:8px
}
.form-action-buttons{
    margin:0 -10px
}
.form-action-buttons button{
    margin:0 10px
}
.flex-container{
    display:flex
}
.flex-row{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin:0 -8px
}
.flex-quad{
    flex-grow:1;
    flex-basis:0;
    margin:8px;
    min-width:270px
}
.manage-screen.content-wrapper{
    position:relative
}
.logout{
    position:absolute;
    top:25px;
    right:50px
}
